$pc: 1024px;
$tab: 680px;
//$sp: 480px;
@mixin pc {
  @media(max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media(max-width: ($tab)) {
    @content;
  }
}

//@mixin sp {
//  @media(max-width: ($sp)) {
//    @content;
//  }
//}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@include tab {
  html, body {
    margin: 0px;
    padding: 0px;
  }
  .header {
    height: 80px;
    background-color: #37AB9D;

  }
  .wrap_header_pc {
    display: none;
  }
  input {
    display: none;
  }
  img {
    float: left;
    padding-left: 30px;
  }
  menu {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 20px;
    width: 10%;
    min-width: 200px;
    background: #37AB9D;
    float: right;
  }
  /* メニュー */
  #menuOn:checked + menu {
    max-width: 960px; /*コンテナと同じ数値を指定しておく必要あり*/
    z-index: 20;
  }
  /* オーバーレイ
  メニューが表示されているときに
  LightBoxのように画面全体を覆うブロックを表示する
  これによってメニュー部分を除いて
  画面全体がチェックボックスへのクリックになるので
  メニュー以外の部分をクリックするとメニューが閉じます */
  #menuOn:checked + menu + div.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //z-index: 10;
    //background: rgba(0, 0, 0, 0.5);
  }
  #menuOn:checked + menu ul {
    display: block;
  }
  ul {
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
  }
  li {
    list-style-type: none;
    /* メニュー要素の背景色と合わせる*/
    background-color: #37AB9D;
    min-width: 105px;
    max-width: 100%;
    white-space: nowrap;
    //text-overflow: ellipsis;
    color: #586365;
    a {
      display: block;
      padding: 10px;
      color: whitesmoke;
      //:hover {
      //  background-color: #FFC042;
      //  color: #586365;
      //}
      img {
        padding: 0px 5px 0px 0px;
        width: 10%;
        //height: 10%;
      }
    }
  }
  /* ハンバーガーメニュー */
  #menuOn + menu::after {
    position: absolute;
    z-index: 30;
    display: block;
    content: '\2630'; /* ハンバーガーメニュー*/
    line-height: 40px;
    width: 20px;
    padding: 0px 40px 0px 20px;
    color: white;
    right: 0;
    top: 0;
    background: #37AB9D;
  }

  /* メニューを閉じる */
  #menuOn:checked + menu::after {
    content: '×'; /* 閉じるボタン */
  }
  .navigation {
    display: none;
  }
  footer {
    text-align: center !important;
    .footer-twitter {
      padding-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.header {
  width: 100%;
  height: 80px;
  .header-logo {
    float: left;
    //color: #586365;
    font-family: "Lao MN";
    img {
      padding-left: 30px;
      float: left;
    }
    .text {
      color: #586365;
      float: left;
      font-size: 50px;
      padding-left: 20px;
      padding-top: 10px;
    }
    .sns {
      li {
        padding-right: 10px;
        padding-top: 10px;
        float: right;
      }
    }
    .wrap-menu {
      display: none;
    }
  }
}

.navigation {
  clear: left;
  height: 80px;
  background: #37AB9D;
  text-decoration: none;
  color: #CFEAEF;
  .nav-content {
    color: #CFEAEF;
  }
  ul {
    padding-top: 25px;
  }
  li a {
    border-right: 1px solid #586365;
    border-radius: 5px;
  }
  li {
    float: left;
    list-style-type: none;
  }
  a {
    padding: 30px 10px;
    color: #CFEAEF;
    font-size: 20px;
    :hover {
      height: 80px;
      color: #586365;
      background-color: #FFC042;
    }
  }
}

.main {
  margin: 30px 100px;
}

.contents {
  margin-left: 30px;
  margin-bottom: 300px;
  background-color: white;
  .title:after { //下線
    background-color: #4DC0B2;
    border-radius: 5px; /* 線幅の半分 */
    content: "";
    display: block;
    height: 6px;
    width: calc(100%); //下線の範囲
  }
  .country {
    background-color: #cdcdcd;
    height: 280px;
    border-left: medium solid #cdcdcd;
    li {
      list-style-type: none;
      padding-left: 20px;
    }
  }
  .synthetic a { //合成生物学
    text-decoration: underline;
  }
  .about a { //サングラス
    text-decoration: underline;
  }
}

footer {
  width: 100%;
  height: 100%;
  background-color: #37AB9D;
  color: #ffffff;
  padding-bottom: 10px;
  float: right;
  .footer-twitter {
    padding: 20px 50px 0px 0px;
    text-align: right;
  }
}