$pc: 1024px;
$tab: 680px;
@mixin pc {
  @media(max-width: ($pc)) {
    @content;
  }
}

@mixin other {
  @media(max-width: ($tab)) {
    @content;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 80px;
  background-color: #37AB9D;
  input {
    display: none;
  }
  img {
    float: left;
    padding: 5px 30px;
  }
  menu {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 20px;
    width: 10%;
    min-width: 200px;
    background: #37AB9D;
    float: right;
  }
  /* メニュー */
  #menuOn:checked + menu {
    max-width: 960px; /*コンテナと同じ数値を指定しておく必要あり*/
    z-index: 20;
  }
  /* オーバーレイ
  メニューが表示されているときに
  LightBoxのように画面全体を覆うブロックを表示する
  これによってメニュー部分を除いて
  画面全体がチェックボックスへのクリックになるので
  メニュー以外の部分をクリックするとメニューが閉じます */
  #menuOn:checked + menu + div.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #menuOn:checked + menu ul {
    display: block;
  }
  ul {
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
  }
  li {
    list-style-type: none;
    /* メニュー要素の背景色と合わせる*/
    background-color: #37AB9D;
    min-width: 105px;
    max-width: 100%;
    white-space: nowrap;
    //text-overflow: ellipsis;
    color: #586365;
    a {
      display: block;
      padding: 10px;
      color: whitesmoke;
      :hover {
        background-color: #FFC042;
        color: #586365;
      }
      img {
        padding: 0px 5px 0px 0px;
        width: 10%;
      }
    }
  }
  /* ハンバーガーメニュー */
  #menuOn + menu::after {
    position: absolute;
    z-index: 30;
    display: block;
    content: '\2630'; /* ハンバーガーメニュー*/
    line-height: 40px;
    width: 20px;
    padding: 0px 40px 0px 20px;
    color: white;
    right: 0;
    top: 0;
    background: #37AB9D;
  }

  /* メニューを閉じる */
  #menuOn:checked + menu::after {
    content: '×'; /* 閉じるボタン */
  }
}

.main {
  font-family: 'Lao MN';
  margin: 30px 100px;
  .contents {
    margin-left: 5px;
    margin-bottom: 30px;
    background-color: white;
    .name {
      background: linear-gradient(transparent 60%, #FFC042 90%);
      font-size: 40px;
      font-weight: bold;
    }
    .profile {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
    .title:after { //下線
      background-color: #4DC0B2;
      border-radius: 5px; /* 線幅の半分 */
      content: "";
      display: block;
      height: 6px;
      width: calc(100%); //下線の範囲
    }
    .contents-list {
      padding: 10px 0px;
      border-left: medium solid #cdcdcd;
      li {
        list-style-type: none;
        padding-left: 20px;
        //background-color: #ffffff;
      }
    }
    .univ {
      padding: 10px 0px;
      li {
        padding-left: 20px;
      }
    }
    .synthetic a { //合成生物学
      text-decoration: underline;
    }
    .about {
      padding: 8px 19px;
      margin: 1em 0;
      color: #2c2c2f;
      background: #e4f5f2;
      border: dashed 5px #FFC042;
      //border-right: dashed 5px #5989cf;
      //background-color: #cdcdcd;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

footer {
  width: 100%;
  height: 100%;
  background-color: #37AB9D;
  color: #ffffff;
  padding-bottom: 10px;
  float: right;
  .footer-twitter {
    padding: 20px 50px 0px 0px;
    text-align: right;
  }
}

@include other {
  .header {
    height: 50px;
    img {
      width: 40px;
    }
    ul {
      top: 0px;
      padding: 0px;
    }
    #menuOn + menu::after {
      line-height: 10px;
    }
  }
  .main {
    margin: 0px 3px;
    .contents {
      img {
        width: 100px;
      }
      .title {
        font-size: 30px;
      }
      .name {
        font-size: 25px;
      }
      .profile {
        font-size: 20px;
      }
      p {
        font-size: 15px;
      }
      .schedule img {
        width: 80%;
      }
    }
  }
  .footer-twitter {
    padding: 20px 0px !important;
    text-align: center !important;
  }
}