@charset "UTF-8";
a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  margin: 0px;
  padding: 0px; }

.header {
  height: 80px;
  background-color: #37AB9D;
  /* メニュー */
  /* オーバーレイ
  メニューが表示されているときに
  LightBoxのように画面全体を覆うブロックを表示する
  これによってメニュー部分を除いて
  画面全体がチェックボックスへのクリックになるので
  メニュー以外の部分をクリックするとメニューが閉じます */
  /* ハンバーガーメニュー */
  /* メニューを閉じる */ }
  .header input {
    display: none; }
  .header img {
    float: left;
    padding: 5px 30px; }
  .header menu {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 20px;
    width: 10%;
    min-width: 200px;
    background: #37AB9D;
    float: right; }
  .header #menuOn:checked + menu {
    max-width: 960px;
    /*コンテナと同じ数値を指定しておく必要あり*/
    z-index: 20; }
  .header #menuOn:checked + menu + div.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .header #menuOn:checked + menu ul {
    display: block; }
  .header ul {
    position: absolute;
    top: 40px;
    right: 0;
    display: none; }
  .header li {
    list-style-type: none;
    /* メニュー要素の背景色と合わせる*/
    background-color: #37AB9D;
    min-width: 105px;
    max-width: 100%;
    white-space: nowrap;
    color: #586365; }
    .header li a {
      display: block;
      padding: 10px;
      color: whitesmoke; }
      .header li a :hover {
        background-color: #FFC042;
        color: #586365; }
      .header li a img {
        padding: 0px 5px 0px 0px;
        width: 10%; }
  .header #menuOn + menu::after {
    position: absolute;
    z-index: 30;
    display: block;
    content: '\2630';
    /* ハンバーガーメニュー*/
    line-height: 40px;
    width: 20px;
    padding: 0px 40px 0px 20px;
    color: white;
    right: 0;
    top: 0;
    background: #37AB9D; }
  .header #menuOn:checked + menu::after {
    content: '×';
    /* 閉じるボタン */ }

.main {
  font-family: 'Lao MN';
  margin: 30px 100px; }
  .main .contents {
    margin-left: 5px;
    margin-bottom: 30px;
    background-color: white; }
    .main .contents .name {
      background: linear-gradient(transparent 60%, #FFC042 90%);
      font-size: 40px;
      font-weight: bold; }
    .main .contents .profile {
      font-size: 30px; }
    .main .contents p {
      font-size: 20px; }
    .main .contents .title:after {
      background-color: #4DC0B2;
      border-radius: 5px;
      /* 線幅の半分 */
      content: "";
      display: block;
      height: 6px;
      width: calc(100%); }
    .main .contents .contents-list {
      padding: 10px 0px;
      border-left: medium solid #cdcdcd; }
      .main .contents .contents-list li {
        list-style-type: none;
        padding-left: 20px; }
    .main .contents .univ {
      padding: 10px 0px; }
      .main .contents .univ li {
        padding-left: 20px; }
    .main .contents .synthetic a {
      text-decoration: underline; }
    .main .contents .about {
      padding: 8px 19px;
      margin: 1em 0;
      color: #2c2c2f;
      background: #e4f5f2;
      border: dashed 5px #FFC042; }
      .main .contents .about p {
        margin: 0;
        padding: 0; }

footer {
  width: 100%;
  height: 100%;
  background-color: #37AB9D;
  color: #ffffff;
  padding-bottom: 10px;
  float: right; }
  footer .footer-twitter {
    padding: 20px 50px 0px 0px;
    text-align: right; }

@media (max-width: 680px) {
  .header {
    height: 50px; }
    .header img {
      width: 40px; }
    .header ul {
      top: 0px;
      padding: 0px; }
    .header #menuOn + menu::after {
      line-height: 10px; }

  .main {
    margin: 0px 3px; }
    .main .contents img {
      width: 100px; }
    .main .contents .title {
      font-size: 30px; }
    .main .contents .name {
      font-size: 25px; }
    .main .contents .profile {
      font-size: 20px; }
    .main .contents p {
      font-size: 15px; }
    .main .contents .schedule img {
      width: 80%; }

  .footer-twitter {
    padding: 20px 0px !important;
    text-align: center !important; } }

/*# sourceMappingURL=style.css.map */
