li {
  float: left;
  list-style: none;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #37AB9D;
  color: #ffffff;
  padding-bottom: 10px;
  float: right;
}

.header {
  float: left;
  width: 100%;
  height: 80px;

  .header-logo {
    float: left;
    color: #586365;
    font-family: "Lao MN";
    img {
      padding-left: 30px;
      float: left;
    }
    .text {
      float: left;
      font-size: 50px;
      padding-left: 20px;
      padding-top: 10px;
    }
  }

  .sns {
    li {
      padding-right: 10px;
      padding-top: 10px;
      float: right;
    }
    .facebook {
      padding-right: 20px;
    }
  }
}

.navigation {
  clear: left;
  height: 80px;
  background: #37AB9D;
  text-decoration: none;
  color: #CFEAEF;
  .nav-content {
    color: #CFEAEF;
  }
  ul {
    padding-top: 25px;
  }
  li a {
    border-right: 1px solid #586365;
    border-radius: 5px;
  }
  a {
    padding: 30px 10px;
    text-decoration: none;
    color: #CFEAEF;
    font-size: 20px;
  }
  a:hover {
    height: 80px;
    color: #586365;
    background-color: #FFC042;
  }
}

.main {
  li {
    float: left;
  }
  .contents {
    padding: 50px 50px;
    margin-bottom: 300px;
    background-color: white;
    .title {

    }
  }
}
